<div class="container-fluid">
    <app-header *ngIf="headerToShow"></app-header>
    <div *ngIf="sidebarToShow">
        <div class="row">
            <div class="col-sm-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-sm-8">
                <section>
                    <router-outlet (activate)="changeOfRoute()"></router-outlet>
                </section>
            </div>
        </div>
    </div>
    <div *ngIf="!sidebarToShow">
        <router-outlet (activate)="changeOfRoute()"></router-outlet>
    </div>
</div>