<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="#" class="btn btn-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="#" class="btn btn-link">About</a>
        </li>
        <li>
            <a href="#" class="btn btn-link" routerLink="/contact">Contact</a>
        </li>
        <li>
            <a href="#" class="btn btn-link" routerLink="/dashboard/highchart1">Highchart1</a>
        </li>
        <li>
            <a href="#" class="btn btn-link" routerLink="/dashboard/highchart2">Highchart2</a>
        </li>
        <li>
            <a href="#" class="btn btn-link" routerLink="/dashboard/highchart3">Highchart3</a>
        </li>
        <li>
            <a href="#" class="btn btn-link" routerLink="/dashboard/rgraph1">RGraph1</a>
        </li>
        <li>
            <a href="#" class="btn btn-link" routerLink="/dashboard/rgraph2">RGraph2</a>
        </li>
    </ul>
</div>