<div class="row">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <form [formGroup]="countryForm">
            <select formControlName="countryControl" class='dropdown-data' #countrySelect (change)='onCountrySelected(countrySelect.value)'>
           <option class='option' 
           *ngFor='let country of countryList' 
           [value]="country.countryName">{{country.countryName}}</option>
        </select>
            <select formControlName="stateControl" class='dropdown-data' #stateSelect (change)='onStateSelected(stateSelect.value)'>
                <option class='option' 
                *ngFor='let state of stateList' 
                [value]="state.name">{{state.name}}</option>
        </select>
        </form>
    </div>
    <div class="row">
        <div *ngFor="let state of stateList">
            <img src="{{state.src}}" *ngIf="stateSelected==state.name" height="400" />
        </div>
    </div>
    <div class="row">
        <span *ngFor="let state of stateList; let i = index">
             <a class="btn" (click)="changeImg(i)"><span>o</span></a>
        </span>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3">
            <button class="left pull-left" (click)="previousImg()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
            </button>
            <button class="right pull-right" (click)="nextImg()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
            </button>
        </div>
    </div>
</div>