.dropdown-data {
    border: 0px;
    padding: 10px;
    margin: 10px;
    background-color: #8a8a8a42;
}

.carousel-indicators {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}